x-web-image: &web-image
  build:
    context: .
    dockerfile: Dockerfile
    target: web

x-worker-image: &worker-image
  build:
    context: .
    dockerfile: Dockerfile
    target: worker

x-ssr-image: &ssr-image
  build:
    context: .
    dockerfile: Dockerfile
    target: ssr

x-app-volumes: &app-volumes
  volumes:
    - './storage:/var/www/html/storage'

x-app-environment: &app-environment
  AUTORUN_ENABLED: true
  OCTANE_SERVER: "frankenphp"
  APP_NAME: '${APP_NAME}'
  APP_ENV: '${APP_ENV}'
  APP_KEY: '${APP_KEY}'
  APP_PREVIOUS_KEYS: '${APP_PREVIOUS_KEYS}'
  APP_DEBUG: '${APP_DEBUG}'
  APP_TIMEZONE: '${APP_TIMEZONE}'
  APP_URL: '${APP_URL}'
  APP_LOCALE: '${APP_LOCALE}'
  APP_FALLBACK_LOCALE: '${APP_FALLBACK_LOCALE}'
  APP_FAKER_LOCALE: '${APP_FAKER_LOCALE}'
  APP_MAINTENANCE_DRIVER: '${APP_MAINTENANCE_DRIVER}'
  APP_MAINTENANCE_STORE: '${APP_MAINTENANCE_STORE}'
  BCRYPT_ROUNDS: '${BCRYPT_ROUNDS}'
  LOG_CHANNEL: '${LOG_CHANNEL}'
  LOG_STACK: '${LOG_STACK}'
  LOG_DEPRECATIONS_CHANNEL: '${LOG_DEPRECATIONS_CHANNEL}'
  LOG_LEVEL: '${LOG_LEVEL}'
  DB_CONNECTION: '${DB_CONNECTION}'
  DB_HOST: '${DB_HOST}'
  DB_PORT: '${DB_PORT}'
  DB_DATABASE: '${DB_DATABASE}'
  DB_USERNAME: '${DB_USERNAME}'
  DB_PASSWORD: '${DB_PASSWORD}'
  SESSION_DRIVER: '${SESSION_DRIVER}'
  SESSION_LIFETIME: '${SESSION_LIFETIME}'
  SESSION_ENCRYPT: '${SESSION_ENCRYPT}'
  SESSION_PATH: '${SESSION_PATH}'
  SESSION_DOMAIN: '${SESSION_DOMAIN}'
  BROADCAST_CONNECTION: '${BROADCAST_CONNECTION}'
  FILESYSTEM_DISK: '${FILESYSTEM_DISK}'
  QUEUE_CONNECTION: '${QUEUE_CONNECTION}'
  CACHE_STORE: '${CACHE_STORE}'
  CACHE_PREFIX: '${CACHE_PREFIX}'
  MEMCACHED_HOST: '${MEMCACHED_HOST}'
  REDIS_CLIENT: '${REDIS_CLIENT}'
  REDIS_HOST: '${REDIS_HOST}'
  REDIS_PASSWORD: '${REDIS_PASSWORD}'
  REDIS_PORT: '${REDIS_PORT}'
  MAIL_MAILER: '${MAIL_MAILER}'
  MAIL_FROM_ADDRESS: '${MAIL_FROM_ADDRESS}'
  MAIL_FROM_NAME: '${MAIL_FROM_NAME}'
  AWS_ACCESS_KEY_ID: '${AWS_ACCESS_KEY_ID}'
  AWS_SECRET_ACCESS_KEY: '${AWS_SECRET_ACCESS_KEY}'
  AWS_DEFAULT_REGION: '${AWS_DEFAULT_REGION}'
  AWS_BUCKET: '${AWS_BUCKET}'
  AWS_USE_PATH_STYLE_ENDPOINT: '${AWS_USE_PATH_STYLE_ENDPOINT}'
  DO_ACCESS_KEY_ID: '${DO_ACCESS_KEY_ID}'
  DO_SECRET_ACCESS_KEY: '${DO_SECRET_ACCESS_KEY}'
  DO_DEFAULT_REGION: '${DO_DEFAULT_REGION}'
  DO_BUCKET: '${DO_BUCKET}'
  DO_ENDPOINT: '${DO_ENDPOINT}'
  DO_USE_PATH_STYLE_ENDPOINT: '${DO_USE_PATH_STYLE_ENDPOINT}'
  DO_URL: '${DO_URL}'
  VITE_APP_NAME: '${APP_NAME}'
  STRIPE_KEY: '${STRIPE_KEY}'
  STRIPE_SECRET: '${STRIPE_SECRET}'
  STRIPE_WEBHOOK_SECRET: '${STRIPE_WEBHOOK_SECRET}'
  CASHIER_CURRENCY: '${CASHIER_CURRENCY}'
  CASHIER_CURRENCY_LOCALE: '${CASHIER_CURRENCY_LOCALE}'
  CASHIER_LOGGER: '${CASHIER_LOGGER}'
  SETTINGS_CACHE_ENABLED: '${SETTINGS_CACHE_ENABLED}'
  OPENAI_API_KEY: '${OPENAI_API_KEY}'
  OPENAI_ORGANIZATION: '${OPENAI_ORGANIZATION}'
  REVERB_APP_ID: '${REVERB_APP_ID}'
  REVERB_APP_KEY: '${REVERB_APP_KEY}'
  REVERB_APP_SECRET: '${REVERB_APP_SECRET}'
  REVERB_HOST: '${REVERB_HOST}'
  REVERB_SCHEME: '${REVERB_SCHEME}'
  VITE_REVERB_APP_KEY: '${REVERB_APP_KEY}'
  VITE_REVERB_HOST: '${REVERB_HOST}'
  VITE_REVERB_PORT: '${VITE_REVERB_PORT}'
  VITE_REVERB_SCHEME: '${REVERB_SCHEME}'
  NIGHTWATCH_TOKEN: '${NIGHTWATCH_TOKEN}'
  NIGHTWATCH_REQUEST_SAMPLE_RATE: '${NIGHTWATCH_REQUEST_SAMPLE_RATE}'
  NIGHTWATCH_PORT: '${NIGHTWATCH_PORT:-2407}'
  VITE_INERTIA_SSR_PORT: '${VITE_INERTIA_SSR_PORT:-13715}'

services:
  app:
    <<: [*web-image, *app-volumes]
    environment:
      <<: *app-environment
      PHP_FPM_POOL_NAME: "app"
      INERTIA_SSR_ENABLED: true
      INERTIA_SSR_URL: "http://ssr:${VITE_INERTIA_SSR_PORT:-13715}"
    command: ["php", "artisan", "octane:start", "--server=frankenphp", "--port=8080"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.[INSERT_UNIQUE_NAME_HERE].rule=Host(`[INSTER_DOMAIN]`)"
      - "traefik.http.routers.[INSERT_UNIQUE_NAME_HERE].entrypoints=https"
      - "traefik.http.routers.[INSERT_UNIQUE_NAME_HERE].tls=true"
      - "traefik.http.routers.[INSERT_UNIQUE_NAME_HERE].tls.certresolver=letsencrypt"
      - "traefik.http.services.[INSERT_UNIQUE_NAME_HERE].loadbalancer.server.port=8080"
    healthcheck:
      test: ["CMD", "healthcheck-octane"]
      start_period: 10s
    depends_on:
      - ssr

  worker:
    <<: [*worker-image, *app-volumes]
    command: [ "php", "/var/www/html/artisan", "queue:work", "--tries=3" ]
    environment:
      <<: *app-environment
      PHP_FPM_POOL_NAME: "app_queue_worker"
    deploy:
      replicas: ${QUEUE_WORKERS:-1}
    healthcheck:
      test: [ "CMD", "healthcheck-queue" ]
      start_period: 10s
    stop_signal: SIGTERM

  redis-worker:
    <<: [*worker-image, *app-volumes]
    command: [ "php", "/var/www/html/artisan", "queue:work", "redis", "--tries=3" ]
    environment:
      <<: *app-environment
      PHP_FPM_POOL_NAME: "app_redis_worker"
    deploy:
      replicas: ${QUEUE_WORKERS:-1}
    healthcheck:
      test: [ "CMD", "healthcheck-queue" ]
      start_period: 10s
    stop_signal: SIGTERM

  scheduler:
    <<: [*worker-image, *app-volumes]
    command: [ "php", "/var/www/html/artisan", "schedule:work" ]
    environment:
      <<: *app-environment
      PHP_FPM_POOL_NAME: "app_scheduler"
    stop_signal: SIGTERM
    healthcheck:
      test: [ "CMD", "healthcheck-schedule" ]
      start_period: 10s

  nightwatch:
    <<: [*worker-image, *app-volumes]
    command: [ "php", "/var/www/html/artisan", "nightwatch:agent", "--listen-on=0.0.0.0:${NIGHTWATCH_PORT:-2407}" ]
    ports:
      - "${NIGHTWATCH_PORT:-2407}:${NIGHTWATCH_PORT:-2407}"
    environment:
      <<: *app-environment
      PHP_FPM_POOL_NAME: "app_nightwatch_agent"
    stop_signal: SIGTERM

  ssr:
    <<: [*ssr-image, *app-volumes]
    command: ["php", "/var/www/html/artisan", "inertia:start-ssr", "--runtime=bun", "-vvv"]
    environment:
      <<: *app-environment
    healthcheck:
      test: ["CMD", "php", "/var/www/html/artisan", "inertia:check-ssr"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    stop_signal: SIGTERM
